### Python Tricks for Data Science

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('iris.csv')
df.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

##### Find avg of Numeric Columns

In [9]:
df.iloc[:,1:5].apply(np.mean)

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [14]:
df.pivot_table(values = ['Sepal.Length'], index='Species',aggfunc='mean')

            Sepal.Length
Species
setosa             5.006
versicolor         5.936
virginica          6.588